@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Host Grotesk", sans-serif;

}

nav {
    background-color: rgb(30, 30, 28);
    padding: 1rem;
    margin-top: 0rem;
}

nav ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: medium;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(197, 197, 197);
}

li a:hover,
li a:focus {
    text-decoration: underline;
    color: bisque;
}

.hero {
    position: relative;
    height: 80vh;
    background-color: rgb(255, 252, 246);
}

.hero img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
    
}


.header-content {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    color: rgb(20, 12, 1);
    white-space: nowrap;
}

.header-content p {
    font-size: 0.85rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.header-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.container {
    width: 100%;
    height: auto;
    margin-inline: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
} 

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(248, 247, 247);
    
}

.card figure {
    margin: 0;
    height: 350px;
    
}

.card figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    object-position: center top;
}

.card h4, .card p {
    padding: 0.5rem 1rem;
}

.card p {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    color: rgb(100, 100, 100);
}

.popular-section .card {
    background-color: rgb(255, 253, 249);
}


.collections-section h1,
.popular-section h1
{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.collections-section
{
    padding: 3rem 4rem;
}


.popular-section {
    padding: 3rem 4rem;
}


.cta-section {
    background-color: rgb(255, 253, 249);
    position: relative;
    height: 80vh;
}

.cta-section img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
    
}
.cta-content {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    color: rgb(20, 12, 1);
    white-space: nowrap;
    text-align: center;
}

.cta-content p {
    font-size: 0.85rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.cta-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}






.footer-content h3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: large;
}

.footer-content li {
    margin-bottom: 0.6rem;
}

.footer-content ul li a {
    text-decoration: none;
    color: rgb(10, 0, 0);
}

.footer-content a {
    transition: color 0.2s ease;
}

.footer-content li a:hover,
.footer-content li a:focus {
    text-decoration: underline;
    color: rgb(230, 2, 139);
}

.footer-content p {
    letter-spacing: 2px;

    font-weight: 500;
    font-size: medium;
}

.footer-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}